html {
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    color: var(--color-text);
    font-style: normal;
    letter-spacing: 0.03em;
    margin: 0;
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--color-title);
    margin-bottom: 50px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


.header {
    border-bottom: 1px solid var(--background-team-color);
    padding-top: 25px;
    padding-bottom: 25px;
}